pillow
httpx
python-multipart
transformers
torch
fastapi
uvicorn
torch
python-dotenv

pytesseract
pillow
httpx
python-multipart
transformers
torch
fastapi
uvicorn
python-dotenv
pytesseract
pillow
httpx
python-multipart
transformers
torch
fastapi
uvicorn
python-dotenv
